#wrapper {
  // overflow: hidden;
  min-width: 320px;
}

/* skip-nav */
#skip-nav {
  position: fixed;
  left: 0;
  top: -40px;
  width: 100%;
  line-height: 40px;
  text-align: center;
  background-color: rgba(0, 0, 0, .8);
  color: #fff;
  font-size: 16px;
  z-index: 100;
  transition: .3s;
}

#skip-nav:focus {
  top: 0;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

i[class^="ico-"],
i[class*="ico-"] {
  display: inline-block;
  vertical-align: top;
}

div[class*="inner"] {
  position: relative;
  margin: 0 auto;
}

.common-inner {

}
