@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

a { text-decoration: none; color: inherit; }

img { max-width: 100%; vertical-align: top; }

input, select, button { font: inherit; color: inherit; -webkit-appearance: none; border: 0; background: transparent; }

* { -webkit-box-sizing: border-box; box-sizing: border-box; }

#wrapper { min-width: 320px; }

/* skip-nav */
#skip-nav { position: fixed; left: 0; top: -40px; width: 100%; line-height: 40px; text-align: center; background-color: rgba(0, 0, 0, 0.8); color: #fff; font-size: 16px; z-index: 100; -webkit-transition: .3s; transition: .3s; }

#skip-nav:focus { top: 0; }

.blind { position: absolute; width: 1px; height: 1px; margin: -1px; overflow: hidden; clip: rect(0 0 0 0); }

i[class^="ico-"], i[class*="ico-"] { display: inline-block; vertical-align: top; }

div[class*="inner"] { position: relative; margin: 0 auto; }

@font-face { font-family: "ProximaNova-Light"; font-weight: 400; src: url("../fonts/proxima-nova-light.woff2"); }

@font-face { font-family: "ProximaNova-Regular"; font-weight: 400; src: url("../fonts/proxima-nova-regular.woff2"); }

@font-face { font-family: "ProximaNova-Semibold"; font-weight: 500; src: url("../fonts/proxima-nova-semibold.woff2"); }

@font-face { font-family: "ProximaNova-Bold"; font-weight: 400; src: url("../fonts/proxima-nova-bold.woff2"); }

@font-face { font-family: "Noto Sans KR"; font-weight: 400; src: url("../fonts/NotoSansKR-Regular.woff2"); }

@font-face { font-family: "Noto Sans KR"; font-weight: 500; src: url("../fonts/NotoSansKR-Medium.woff2"); }

@font-face { font-family: "Noto Sans KR"; font-weight: 700; src: url("../fonts/NotoSansKR-Bold.woff2"); }

body { font-family: "ProximaNova-Regular", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "맑은 고딕", sans-serif; font-weight: 400; line-height: 100%; }

@media (max-width: 359px) { html { font-size: 13px; } }

#header { position: relative; padding: 0 10px; overflow: hidden; }

#header .group-flex { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#header .logo::before { content: ''; display: inline-block; width: 50px; height: 50px; background: url("../images/icon/logo.svg") no-repeat center; vertical-align: top; }

#header .logo::before a { display: block; }

#header .util-area { display: -webkit-box; display: -ms-flexbox; display: flex; }

#header .btn-util { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 50px; margin: 0 4px; }

#header .btn-util i[class^="ico-"] { width: 32px; height: 32px; background-position: center; }

#header .btn-util.search .ico-search { background-image: url("../images/icon/ico_search.svg"); }

#header .btn-util.cart .ico-cart { background-image: url("../images/icon/ico_cart.svg"); }

#header .btn-util.cart .count { position: absolute; bottom: 9px; right: -5px; min-width: 20px; height: 20px; padding: 0 3px; border-radius: 10px; font-family: "ProximaNova-Semibold", sans-serif; font-size: 11px; line-height: 20px; text-align: center; color: #fff; background: #fa5500; }

#gnb { position: relative; left: 0; top: 0; width: 100%; background-color: #fff; height: 2.8125rem; -webkit-transition: top .3s; transition: top .3s; z-index: 10; }

#gnb.fixed { position: fixed; top: -50px; }

#gnb .swiper { width: 100%; height: 100%; }

#gnb .gnb-list { display: -webkit-box; display: -ms-flexbox; display: flex; height: 100%; -webkit-box-sizing: content-box; box-sizing: content-box; }

#gnb .gnb-item { width: auto; padding: 0 0.78125rem; }

#gnb .gnb-item:first-child { padding-left: 1.25rem; }

#gnb .link-gnb { display: block; font-family: "ProximaNova-Bold", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "맑은 고딕", sans-serif; font-weight: 700; font-size: .875rem; line-height: 2.8125rem; margin: 0 auto; white-space: nowrap; text-align: center; position: relative; }

#gnb .link-gnb.active::before { display: block; content: ""; width: 0.25rem; height: 0.25rem; border-radius: 50%; background-color: #fa5500; position: absolute; top: 0.875rem; right: -0.4375rem; }
